{% extends 'base.html' %}


{% block content %}
        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Twoje zamówienie</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Podsumownie twojego zamówienia</p>
                </div>
            </div>
        </header>
        <br/>
        <br/> <br/>
         <div class="container">
            <div class="row">
                    <div class="col-md-6 offset-md-3">
                        <div class="card">
                            <div class="card-header">
                                Podsumowanie zamówienia
                            </div>
                            <div class="card-body">
                                {% for produkt in koszyk_produkty %}
                                    {{ produkt.nazwa }}: 
                                        {% if produkt.czy_promocja %}
                                            {{ produkt.promocja_cena }}zł
                                        {% else %}
                                            {{ produkt.cena }}zł
                                        {% endif %}
                                        <br/>
                                       <small> Ilość: 
                                        {% for key, value in quantities.items %}
                                            {% if key == produkt.id|slugify %}
                                                  {{ value }}
                                            {% endif %}

                                        {% endfor %} </small>
                                        <br/> <br/>
                                {% endfor %}
                                <strong>Całkowity koszt: {{ totals }}zł</strong>
                                <br/><br/>
                                <a href="{% url 'cart_summary' %}" class="btn btn-sm btn-outline-primary">Zmień ilość produktów</a>
                            </div>
                        </div>
                        <br/> <br/>
<div class="card">
  <div class="card-header">
    Dane do wysyłki
  </div>
  <div class="card-body">
    <form method="POST" action="{% url 'billing_info' %}">
        {% csrf_token %}
    {{ shipping_form.as_p }}
  </div>
</div>
<br/> <br/>
<button type="submit" class="btn btn-success">Przejdź do płatności</button>
</form>
<br/> <br/>
                    </div>
                </div>
            </div>





{% endblock %}