{% extends 'base.html' %}


{% block content %}
<!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">O nas...</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Witaj w naszym sklepie!</p>
                </div>
            </div>
        </header>


        <div class="container">
        	<div class="row">
        		<center>
        			<div class="col-6">
<p align="justify">
</br> </br>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut tincidunt orci ut suscipit convallis. Integer ullamcorper justo in urna ultrices ultrices. Cras suscipit arcu quis ante pharetra, vestibulum accumsan justo tempor. Donec aliquet metus non varius pellentesque. Nullam tempor nulla tortor, interdum faucibus lectus feugiat nec. Etiam eu convallis diam. Ut dignissim lacinia porttitor. Praesent sit amet dolor tempus, fermentum libero vitae, imperdiet nunc. Ut eu lacinia elit. Fusce fringilla turpis vel vestibulum feugiat.
</br> </br>
Integer mollis, mauris sit amet dignissim volutpat, neque ante egestas ex, id porttitor mi ligula sed elit. Sed tristique semper turpis sed cursus. Ut vitae mi iaculis massa cursus dapibus. Maecenas ac sem eget lectus dapibus condimentum. Morbi blandit ut tortor et pellentesque. Nunc mattis ac nulla fringilla scelerisque. Nunc gravida arcu vel ipsum pellentesque suscipit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam eget finibus odio, eget viverra tortor. Nulla facilisi. Cras fringilla lacus a ipsum pharetra, sed luctus velit pretium. Suspendisse tincidunt sapien at nunc consectetur facilisis. Curabitur quis nisi nunc.
</br> </br>
Fusce sollicitudin, leo efficitur posuere feugiat, sem arcu fringilla quam, maximus malesuada lorem risus ornare ligula. Duis non nulla maximus, molestie turpis vitae, viverra est. Vivamus molestie iaculis enim id suscipit. Integer purus eros, interdum in enim at, consequat lobortis lacus. Nullam gravida congue suscipit. Integer vestibulum a justo vel porttitor. Curabitur at fringilla ipsum.
</br> </br>
</p>
        			</div>
        		</center>
        	</div>
        </div>


{% endblock %}